body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #a7bbc7;
  color: white;
}

button:hover {
  background-color: #8fa1b2;
}

input,
label {
  font-size: 16px;
}

input {
  padding: 5px;
  margin: 5px 0;
  border: 2px solid #a7bbc7;
  border-radius: 5px;
}
